body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url(../img/Fondo.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}

header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

p {
    font-size: 40px;
    line-height: 1.6;
    font-weight: bold;
    font-family: 'Paytone One', sans-serif;
    color: #f0f0f0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #000000;
}